body {
    background-color: black;
    color: white;
}
button {
    padding: 8px;
    color: white;
    background-color: royalblue;
    border: none;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    margin: 8px;
}

.mainContainer, 
.gameEndContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameEndContainer {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    border-color: white;
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.gameEndContainer.show {
    visibility: visible;
}
.finalScore {
    text-align: center;
}
.mainContainer.hide {
    visibility: hidden;
}
.userButtons {
    display: flex;
    padding: 8px;
    margin: 16px;
    justify-content: space-evenly;
}

